/****************************************************** Header ******************************************************************************/
*{
    margin:0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h2{
 
    text-decoration:none;
    font-size: 30px;
    margin: 10px;
    color: #648BB3;
}

nav 
{
    margin: auto;
    width: 100%;
    height: 100px;
    background: #648BB3;
    position: sticky;
    
    
}

 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}
 
nav .main_pages a 
{
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: sticky;
    
}
 
nav a:hover 
{
    background: #E2EAC4;
    position: sticky;
}
/************************************* Responsive ************************************************/
.burger, #toggle
{
    display: none;
}
 
@media all and (max-width: 700px)
{
nav {
    height: 60px;
    }
 
nav .main_pages {
    display: none;
    flex-direction: column;
    background:#648BB3;
    height: 220px;
    }

nav .main_pages a {
    width: 50%;
    }
 
.burger {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color:#E2EAC4;
    cursor: pointer;
        
    }
  
#toggle:checked + .main_pages {
    display: flex;
    }
.recherche{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    }
}

/****************************************************** Recherche ******************************************************************************/
.recherche{
    /* background-image: url("./Images/3.webp");
    background-repeat: no-repeat;
    background-position:absolute ;  */
    /* je dois corriger la taille de la image */
   
    width: 100%;
    height: 50vh;
    text-align: center;
    font-size: 35px;
    

}

h1{
    font-family:'Rochester', cursive;
    font-size: 3em;
    padding: 2vh;
    color:  #648BB3;
    
}

div .search{
    position: absolute;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.search input{
    width: 310px;
    height: 50px;
    padding:0 50px ;
    font-size: 18px;
    color : #648BB3;
    outline: none;
    border: 2px solid silver;
    border-radius: 30px;
  
}

button{
    height: 50px;
    width: 15vh;
    background-color: #648BB3;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    position: absolute;

    font-size:18px;
    margin: 7px 6px 4px 0;
    cursor: pointer;
    border-radius: 5vh;
    left: 54%;
    padding-top: 2px;
   
}

button:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;   
}

/****************************************************** Expertises******************************************************************************/
 .expertises{
    width: 100%;
    background-color: #E2EAC4;
    height: auto;
    text-align: center;
    padding-top: 2vh;
    font-size:20px ;
} 
img.exp{
    width: 370px;
    height: auto;
    padding: 5vh;
}

.exper{
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
}
/****************************Formulaire***************************************/
section.text{
    width: 100%;
    height: 400px;
    background-color:#FBCD93;
   
}

p{
    font-size: 70px;
    text-align: center;
    padding-top: 55px;
}

span{
color:#648BB3;

}
.reseau{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 10vh;
   
}

#ensemble{
    align: midle;
   
}
#bati{
  
    font-size: 50px;
   
    padding-top: 55px 00 55px;
}

section .formulaire{
    height: auto;
    width: 100%;
 
}

form{
    
       
    
}
.formulaire h2{
    text-decoration: none;
}
input, textarea, input[type="file"]{
    padding: 10px;
    margin: 5px;
    width: 300px;
     
}
label{
    color: black;
    padding: 20px;
    
}
fieldset{
 
    background-color: #E9BED0;   
    margin: 10vh;
    width: 900px;
}

.contact{
    display: grid;
    grid-template-columns:  1fr 1fr  ;
    grid-template-rows :auto;  

}

img{
    
}

/****************************Foooter***************************************/

footer{
    width: auto;
    height: 200px;
    background-color: #648BB3;

    padding: 30px;
}