/****************************************************** Header ******************************************************************************/
*{
    margin:0;
    padding: 0;
}
nav 
{
    margin: auto;
    width: 100%;
    height: 100px;
    background: #648BB3;
    
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    color: #EDF1F4;
  
}
 
nav a:hover 
{
    background: #E2EAC4
}
/************************************* Responsive ************************************************/
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 700px)
{
    nav 
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background:#648BB3;
        height: 220px;
    }

    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color:#E2EAC4;
        cursor: pointer;
        
    }
    #toggle:checked + .main_pages {
        display: flex;
    }
}

/****************************************************** Recherche ******************************************************************************/

.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search{

    position: absolute;
    padding: 5px;

}

.search input{
    width: 300 px;
    height: 51px;
    padding:0 50px ;
    font-size: 18px;
    color : #648BB3;
    outline: none;
    border: 2px solid silver;
    border-radius: 30px;

}

.lupe{
    
    position: absolute;
    top: 0;
    right: 0;
    background-color:#E2EAC4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #648BB3;
    font-size: 25px;
    border-radius: 50%;
    margin: 0.50rem 0.60rem 0.80rem 0rem;
    border:0;


}

/****************************************************** Recherche ******************************************************************************/

.recherche{
    background-image: url(./Images/femme.jpg);
    background-image: no-repeat;
    background-size: cover;



}


/****************************Foooter***************************************/

/*footer*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #648BB3;
  height: 30vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #648BB3;
	box-shadow: 0 1px 1px 0 #E2EAC4;
    
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed img{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: black;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:#ffffff;
    ;
	color: #E9BED0;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  black;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #ffff;
	border-radius: 2px;

	font-size: 20px;
	color: #E9BED0;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
