/****************************************************** Header ******************************************************************************/
*{
    margin:0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

h2{
 
    text-decoration:none;
    font-size: 50px;
    margin: 50px;
    color: #648BB3;
}

nav 
{
    margin: auto;
    width: 100%;
    height: 100px;
    background:#648BB3;
    position: fixed;
    z-index: 1000000;
   
    
    
}

 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;

}
 
nav .main_pages a 
{
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    
}
 
nav a:hover 
{
    background: #E2EAC4;
    position: sticky;
}
/************************************* Responsive ************************************************/
.burger, #toggle
{
    display: none;
}
 
@media all and (max-width: 700px)
{
nav {
    height: 60px;
    }
 
nav .main_pages {
    display: none;
    flex-direction: column;
    background:#648BB3;
    height: 220px;
    }

nav .main_pages a {
    width: 50%;
    }
 
.burger {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color:#E2EAC4;
    cursor: pointer;
        
    }
  
#toggle:checked + .main_pages {
    display: flex;
    }
.recherche{
    display: flex;
    flex-direction: column;

    }
}
/* Recherche responsive */

@media (max-width: 480px) {
    #premier{
      font-size: 70px;
     padding: 7vh;
    }
    .search{
        padding: 20px; ;
        font-size:  15px; 
    }
    h2{
        font-size:  30px; 
    }
    section.recherche{
        height: auto;
    }
    button{
   


    }

/* Formulaire responsive */
section.text1 p{
    height: auto;
    font-size: 5vh;

    
    
}

  }
/****************************************************** Recherche ******************************************************************************/
.recherche{
    width: 100%;
    height: 70vh;
    text-align: center;
    font-size: 35px;
   
}
section.recherche{
    background-image: url("/Newphictures/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size:100% 100% ;
}

h1{
    font-family:'Rochester', cursive;
    font-size: 3em;
    padding-top: 14vh;
    color: #1872D9;
    
}

div .search{
    position: absolute;
   
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
#barra{
    width: 310px;
    height: 50px;
    padding:0 50px ;
    font-size: 18px;
    color : #1872D9;
    outline: none;
    border: 3px solid silver;
    border-radius: 60px;
  
}

button{
    height: 50px;
    width: 15vh;
    background-color: #1872D9;
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    position: absolute;

    font-size:18px;
    margin: 7px 6px 4px 0;
    cursor: pointer;
    border-radius: 5vh;
    left: 55%;
    padding-top: 2px;
   
}

button:hover{
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;   
}

/****************************************************** Expertises******************************************************************************/
 .expertises{
    width: 100%;
    background-color: #E2EAC4;
    height: auto;
    text-align: center;
    padding-top: 2vh;
    font-size:20px ;
} 
img.exp{
    width: 370px;
    height: auto;
    padding: 5vw;
}

.exper{
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
}
/****************************Formulaire***************************************/
section.text1{
    width: 100%;
    height: 400px;
    background-color:#E2EAC4;
    margin-bottom: 10px;
    
 

}

.message1{
    font-size: 70px;
    text-align: center;
    padding:80px;

}

 .reseau{
    display: flex;
    text-align: center;
    margin: 2vw;
    
} 

#bati{
    font-size: 50px;
    padding-top: 55px 00 55px;
}

#ensemble{
    border-radius: 50%;
    height: auto;
    width: 50%;
}


input[type=text], textarea, input[type=email], input[type=tel], input[type=file],input[type=date] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    
  }
  label{
    font-size: 20px;
    font-weight: bold;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    color:black;
}
  
  input[type=submit] {
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1872D9;
  }
  
  .container {
    /* Ajouter box-sizing */
    

    border-radius:5px;
    background-color:#E9BED0;
    padding:20px;
    width: 100%;
    /* redéfinition 400 + 2*20 */
    max-width: 450px;
    margin: 2px auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  

/****************************Foooter***************************************/
/* 
footer{
    width: auto;
    height: 200px;
    background-color: #648BB3;

    padding: 30px;
} */
/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body {
    background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
    font-family: 'Rubik', sans-serif;
    background: #455A64;
    height: 100 !important;
} */



footer {
    background-color:  #648BB3;
    color: #fff;
    padding: 20px 0 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  footer .container2 {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  footer .footer-links {
    display: flex;
    justify-content: space-around;
  }
  
  footer .footer-links a {
    color: #fff;
    margin-right: 20px;
  }
  
  footer .footer-links a:last-child {
    margin-right: 0;
  }
  
  footer .footer-links a:hover {
    color: #ccc;
  }
  
 
  footer .social-links a {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  footer .social-links a:last-child {
    margin-right: 0;
  }
  
  footer .social-links a:hover {
    color: #ccc;
  }
  
  footer .copyright {
    font-size: 14px;
    justify-content: space-around;
  }
  
  @media (max-width: 767px) {
    footer {
      flex-direction: column;
    }
    footer .container2 {
      flex-direction: column;
      align-items: flex-start;
    }
    footer .footer-links,
    {
      margin-bottom: 10px;
    }
  }
